@font-face {
	font-family: GothamProBold;
	src: url('fonts/GothamProBold.woff') format('woff');

}

@font-face {
	font-family: GothamProLight;
	src: url('fonts/GothamProLight.woff') format('woff');
}

@font-face {
	font-family: GothamProItalic;
	src: url('fonts/GothamProItalic.woff') format('woff');
}

@font-face {
	font-family: GothamProRegular;
	src: url('fonts/GothamProRegular.woff') format('woff');
}